.menu-mobile{
    width: 350px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--main-color);
    color: var(--main-color-black);
    margin-left: -100%;
    animation: 1s linear slideInFromLeftToRight forwards;
    z-index: 9999999999999999999;
}

.menu-mobile.close{
    animation: 1s linear slideOutFromRightToLeft backwards;
}
.menu-mobile  ul li{
    padding: 10px 15px;
}

.menu-mobile  ul li:hover{
    background-color: var(--main-color-black);
    color: var(--main-color);
    cursor: pointer;
}

.menu-mobile ul li a{
    font-size: 1.5rem;
}


.overlay {
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    cursor: pointer;
}


@media(max-width:400px){
    .menu-mobile{
        width: 300px;
    }
}


