section .product-item{
    width: 400px;
    padding: 5px;
    box-shadow: 2px 8px 12px #ccc;
    border: 0.1px solid var(--main-color);
    border-radius: 7px;
    cursor: pointer;
}

section .product-item:hover{
    background-color: var(--main-color-black);
    color: var(--main-color);
}


section .product-item img{
    width: 100%;
    height: 100%;
}


@media(max-width:370px){
    section .product-item{
        width: 90%;
    }
}

